.column {
  float: left;
  /* border-radius: 5%; */
  margin: 0px;
}

.left {
  width: 20%;
  /* background-color: beige; */
}

.right {
  width: 80%;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; 
}